.card {
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
}
.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
  padding: 10px;
  min-height: 150px;
  width: 150px;
  background-color: #ddd;
  border-radius: 4px;
}
.title,
.desc {
  margin-bottom: 10px;
}
.date {
  font-size: 12px;
  font-weight: 200;
}
.btn {
  margin-top: 10px;
  align-self: stretch;
  cursor: pointer;
}
