.title {
  text-align: center;
}
.panelBox {
  margin-top: 150px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}
.subtitle {
  margin-top: 10px;
}
.btn {
  margin-top: 15px;
  align-self: stretch;
}
.btn:hover {
  cursor: pointer;
}
